{
    "presets": ["@babel/preset-env", "@babel/preset-react"],
    // "plugins": ["react-hot-loader/babel", "transform-runtime", "array-includes"]
    "plugins": ["@babel/plugin-proposal-class-properties", "@babel/plugin-transform-runtime"]
}
  