.winterfell-field-editor.btn-default {
  text-align: left;
  border: 1px solid transparent;
  border-radius: 0;
  padding-top: 0;
  padding-bottom: 0;
  white-space: normal;
  margin-top: 0;
  &:hover {
    text-align: left;
    border: 1px dotted #ccc;
    background: #eee;
  }
  &:hover:before {
    content:"\270f";
    position: absolute;
    font-family: "Glyphicons Halflings";
    right: 20px;
    font-size: 12px;
  }
}

.winterfell-form-builder-field-editor {
  background: #eee;
  padding-top: 10px;
  #edit-question-id-label {
    font-weight: normal;
  }
}

.winterfell-form-builder-field-editor {
  .dropdown.btn-group {
    display: block;
  }
  #pagination {
    margin-bottom: 15px;
    text-align: left;
  }
  .dropdown-menu {
    width: 100%;
  }
  .btn .caret {
    float: right;
    margin-top: 8px;
  }
  td input, td button {
    border-radius: 0;
  }
  tr:nth-child(2) {
    td:first-child {
      input {
        border-top-left-radius: 4px
      }
    }
    td:last-child  {
      button {
        border-top-right-radius: 4px;
      }
    }
  }

  tr:last-child {
    td:first-child {
      input {
        border-bottom-left-radius: 4px;
      }
    }
    td:last-child  {
      button {
        border-bottom-right-radius: 4px;
      }
    }
  }
}

.winterfell-form-builder-question-set {
  h4 {
    margin-top: 2px;
  }
}
