.winterfell-form-builder {
  .btn-group {
    display: flex;
    .btn {
      flex: 1;
      .caret {
        float: right;
        margin-top: 8px;
      }
    }
  }
  .input-group .form-control:first-child {
    border-top-right-radius: unset;
    border-bottom-right-radius: unset;
    -webkit-appearance: none;
  }
  #pagination {
    text-align: left;
  }
  .btn-block+.btn-block {
    margin-top: 0
  }
}
.winterfell-form-builder-field-editor {

  #edit-question-id-label {
    font-weight: normal;
  }
  .dropdown.btn-group {
    display: block;
  }
  
  td input, td button {
    border-radius: 0;
  }

  .btn {
    font-size: 12px;
    padding: 6px;
  }
  .form-control {
    font-size: 12px;
  }
}

.winterfell-form-builder-page-editor {
  border-left: 1px solid #eee;
  margin-left: -1px;
  padding-left: 16px;
}
.winterfell-form-builder-question-set {
  h4 {
    margin-top: 2px;
  }
}

.winterfell-form-builder-selector {
  text-align: left;
  border: 2px dashed #ccc;
  border-radius: 0;
  white-space: normal;
  margin-top: 1px;
  padding: 15px;
  &:hover {
    text-align: left;
    border: 2px dotted #ccc;
    background: #eee;
  }
  &:hover:before {
    content:"Edit";
    position: absolute;
    right: 20px;
    font-size: 12px;
  }
}

.winterfell-form-builder-page-sorter {
  padding-top: 10px;
}

.winterfell-form-builder-conditional-page, .winterfell-form-builder-conditional-questions {
  padding-top: 10px 5px;
  border: 1px solid #eee;
  border-radius: 3px;
  margin: 0;
  .btn {
    border-radius: 4px;
  }
}

.winterfell-form-builder-tree-view {
  overflow: overlay;
  overflow-y: scroll;
  height: 100px;
  border: 1px solid #ccc;
  border-radius: 4px;

  .btn-link {
    padding: 0;
  }
}


.winterfell-form-builder-field-editor .winterfell-form-builder-conditional-page,
.winterfell-form-builder-field-editor .winterfell-form-builder-conditional-questions  {
  color: #36464e;
  position: absolute;
  left: 105%;
  width: 100%;
  z-index: 10;
  border: 1px solid #337ab7;
}
.winterfell-form-builder-field-editor .winterfell-form-builder-conditional-page {
  border: 1px solid #f0ad4e;
}


.winterfell-form-builder-field-editor .winterfell-form-builder-conditional-page::before,
.winterfell-form-builder-field-editor .winterfell-form-builder-conditional-questions::before {
  content: "";
	width: 0px;
	height: 0px;
	border: 0.8em solid transparent;
  position: absolute;
  left: -20px;
  top: 1px;
	border-right: 10px solid #337ab7;
}
.winterfell-form-builder-field-editor .winterfell-form-builder-conditional-page::before {
  border-right: 10px solid #f0ad4e;
}

.winterfell-form-builder .winterfell-form-builder-field-editor {
  .winterfell-form-builder-conditional-question {
    &.input-group >.form-control:first-child,
    &.input-group >.form-control:not(:first-child):not(:last-child),
    &.input-group-addon:not(:first-child):not(:last-child){
      width: 50%;
    }
  }
}

.btn-group .material-icons {
  margin-left: -25%;  
}
.icon-menu {
  position: absolute;
  padding: 0 1px;
}
@import '../../../node_modules/react-datepicker/dist/react-datepicker.css';
